.header {
  margin: 0;
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  background-image: url(../images/profile-background-800x450.jpg);
  background-size: cover;
}

.page-section-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }

.page-section {
  border-top: 1px solid #eee;
  padding: 2rem 0;
}

.download-button {
  margin-top: 2rem;
}

.navbar {
  display: none;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    padding-top: 18rem;
    padding-bottom: 18rem;
  }

  .page-section {
    padding: 6rem 0;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .header {
    padding-top: 30rem;
    padding-bottom: 30rem;
    background-image: url(../images/profile-background-1920x1080.jpg);
  }

  .page-section {
    padding: 6rem 0;
  }

  .download-button {
    margin-top: 4rem;
  }

  /* Navbar */
  .navbar + .page-section {
    border-top-width: 0;
  }

  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .navbar-spacer {
    display: none;
  }

  .navbar > .container {
    width: 100%;
  }

  .navbar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  .navbar-item {
    display: inline;
  }

  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
    padding: .2em 1em;
  }

  .navbar-link.active {
    color: #33C3F0;
  }

  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .has-docked-nav .navbar-spacer {
    display: block;
  }

  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%;
  }
}